body {
  font-family: 'open sans';
  margin: 0;
  width: 100%;
  height: 100%;
}

/* NAVIGASTION */
.toolBar {
  background-color: #fff;
}
.toolBarText {
  color: #000;
  font-weight: bold;

}
ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
}

li {
  padding: 40px;
  border: 2px solid #fff;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

li:hover {
  background-color: #fff;
  color: #000;
}

li:active {
  opacity: 0.7;
}

.main-container {
  /* background: url('./assets/images/casino-background.jpg'); */
  background: #444444;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
}
.main-container h1 {
  color: #fff;
}

.main-container-content {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.block {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.number-selected {
  background-color: #fff;
  color: #000;
}

.bet-input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 15pt;
  margin: 0 10px;
}
.numberList {
  margin-top: 30px;
}

.container-bet-result {
  text-align: center;
}

@media (max-width: 1100px) {
  ul {
    flex-direction: column;
    text-align: center;
  }

  li {
    margin: 5px 0;
  }
}
